<ion-view title="申请贷款" >
	<ion-content>
		<ion-list>
		<div class="card">
				<div class="item item-divider" style="background-image: url('img/rect_green.png');background-repeat: no-repeat;">
					闪贷
				</div>
				<div class="item item-text-wrap">
					<table  style="width:100%;">
						<tr>
							<td style="width:30%;">贷款利率</td>
							<td style="width:40%;">贷款期限</td>
							<td style="width:30%;">服务费率</td>
						</tr>
						<tr>
							<td><strong>12</strong>%</td>
							<td><strong>2-12</strong>期</td>
							<td><strong>8</strong>%</td>
						</tr>
					</table>
				</div>
				<div class="item item-divider">
          <a href="#/tab/loanApply/1">
          <button class="button"  style="float:right;font-size: small;border-radius: 20px;border: solid 1px #79BE33;color:#79BE33;min-height: 30px;line-height: 20px;" >
            申请
          </button>
        </a>
				</div>
			</div>
			<div class="card">
				<div class="item item-divider" style="background-image: url('img/rect_red.png');background-repeat: no-repeat;">
					咻咻贷
				</div>
				<div class="item item-text-wrap">
					<table  style="width:100%;">
						<tr>
							<td style="width:30%;">贷款利率</td>
							<td style="width:40%;">贷款期限</td>
							<td style="width:30%;">服务费</td>
						</tr>
						<tr>
							<td><strong>14</strong>%</td>
							<td><strong>7-30</strong>天</td>
							<td><strong>210</strong>元</td>
						</tr>
					</table>
				</div>
				<div class="item item-divider">
				<a href="#/tab/loanApply/2">
					<button class="button"  style="float:right;font-size: small;border-radius: 20px;border: solid 1px #79BE33;color:#79BE33;min-height: 30px;line-height: 20px;" >
						申请
					</button>
        </a>
				</div>
			</div>
			 
		</ion-list>
	</ion-content>
</ion-view>
