<?xml version="1.0"  standalone="yes"?>
<widget id="com.ionicframework.microcreditapp312290" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>众网金贷</name>
  <description>
        众网金贷，你身边的互金专家！
    </description>
  <author email="suqinghe@imassbank.com" href="http://imassbank.com/">
      众网金贷_深圳团队
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="ios">
    <icon src="img/logo.png"  width="180" height="180" /> 
  </platform>
   <platform name="android"> 
              <icon src="img/logo.png" density="mdpi" /> 
     </platform>
</widget>