<ion-view view-title="用户注册">
	<ion-content >
		<div  class="list"  id="main"  >
			<form  name="registerLaborForm">
				<div class="list">
					<label class="item item-input  "> 
					 <img   class="icon  placeholder-icon" ng-src="img/register/user.png">
						<input type="text" placeholder="手机号码" ng-model="user.mobile" required></label> 
					<label class="item item-input  "> 
						<img   class="icon  placeholder-icon" ng-src="img/register/password.png">
						<input type="password" placeholder="密码" ng-model="user.passwd"  required></label>
						<label class="item item-input  "> 
						<img   class="icon  placeholder-icon" ng-src="img/register/confirmPwd.png"> 
						<input type="password" placeholder="确认密码" ng-model="user.ConfirmPwd"  required></label>					 
				</div>
				<div class="padding">
					<button class="button button-full button-balanced"  ng_disabled="!registerLaborForm.$valid"  ng-click="register()">注册</button> 
				</div>

			</form>

		</div>
	</ion-content>
</ion-view>
